# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
bin/
*.tgz
*.bin
*.exe

#Ignore matlab output files:
*.mat
#except transect.mat, as this contains the bathymetry of the sletvik waveguide
!transect.mat

*.log
*~
*.in
testing/
*.for

