# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
bin/
*.tgz
*.bin
*.exe

#Ignore matlab output files:
*.mat
#except transect.mat, as this contains the bathymetry of the sletvik waveguide
!sletvik_transect.mat

*.log
*~
*.in
testing/
*.for

#ignore temporary files:
.gitk-tmp*

#ignore bellhop output files:
*.arr
*.env
*.prt
*.shd
*.ssp

#ignore "bughunt/" subdirectory
bughunt/*

#ignore the "doc/" subdirectory (the user is expected to generate the documentation locally)
doc
dependencies

